<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{options.title}}</title>
    <meta name="description" content="The living Styleguide for gdts.one">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="kss-assets/kss.css">
    {{{styles}}}
  </head>
  <body class="container">
    <header class="kss-header header color-white">
      <nav class="nav">
        <div class="color-black-100">
          <a href="/" data-drupal-link-system-path="&lt;front&gt;"><strong>Glen</br>Dimplex</br></strong>Thermal Solutions</a>
        </div>
        <div class="color-black-35">
          <a href="/" data-drupal-link-system-path="&lt;front&gt;">Cooling. Heating. Ventilation</a>
        </div>
        <div class="color-red-100">
          <a href="/dummy-seite-als-platzhalter" data-drupal-link-system-path="node/31"><strong>Dimplex</strong></a>
        </div>
        <div class="color-blue-100">
          <a href="/dummy-seite-als-platzhalter" data-drupal-link-system-path="node/31"><strong>Riedel</strong></a>
        </div>
      </nav>
      <button type="button" class="button navbar-toggle">
        <div class="sr-only">Toggle navigation</div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </button>
    </header>
      <main role="main" class="row">
          <article class="col-12">
      {{#each sections}}
      {{#if @first}}{{else}}
      <section id="kssref-{{referenceURI}}" class="row">
        <div class="col-12">
          <h{{depth}}>
              {{header}}
          </h{{depth}}>
          </div>
          {{#if description}}
          <div class="col-12">
            {{{description}}}
          </div>
          {{/if}}
          {{#if parameters}}
          <div class="col-12">Parameters:</div>
          <ul>
            {{#each parameters}}
            <li>
              <div><code>{{name}}</code></div>
              <div>
                {{{description}}}
                {{#if defaultValue}}
                <div class="col-12">
                  Defaults to: <code>{{defaultValue}}</code>
                </div>
                {{/if}}
              </div>
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
        {{#if example}}
          {{#if modifiers}}
          <div class="col-12">
            Default styling
          </div>
          {{/if}}
          <div class="col-12">
            {{{example}}}
          </div>
          {{#each modifiers}}
          <div class="col-12">
            {{name}}
          </div>
          <div class="col-12">
            {{{description}}}
          </div>
          <div class="col-12">
            {{{markup}}}
          </div>
          {{/each}}
        {{#if markup}}
        <details class="col-12 kss-markup">
          <summary>
            {{#if markupFile }}
            Markup: <code>{{ markupFile }}</code>
            {{else}}
            Markup
            {{/if}}
          </summary>
          <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
        </details>
        {{/if}}
        {{/if}}
        {{#if source.filename}}
        <div class="col-12">
          Source: <code>{{source.filename}}</code>, line {{source.line}}
        </div>
        {{/if}}
      </section>
      {{/if}}
      {{/each}}
      </article>
    </main>
    <script src="kss-assets/kss.js"></script>
    <script src="kss-assets/prettify.js"></script>
    <script src="kss-assets/kss-markup.js"></script>
    <script>
      prettyPrint();
      var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
      });
    </script>
    {{{scripts}}}
  </body>
</html>
