<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{options.title}}</title>
    <meta name="description" content="The living Styleguide for gdts.one">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="kss-assets/kss.css">
    {{{styles}}}
  </head>
  <body>
    <nav class="navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <header class="header">
              <div class="nav">
                <div class="color-black-100">
                  <a href="/" data-drupal-link-system-path="&lt;front&gt;"><strong>Glen</br>Dimplex</br></strong>Styleguide</a>
                </div>
              </div>
              <div class="kss-sections-overview">
                {{#each sections}}
                {{#if @first}}{{else}}
                <a class="kss-sections-overview-link-{{depth}}" href="#kssref-{{referenceURI}}">{{header}}</a>
                {{/if}}
                {{/each}}
              </div>
              <input class="kss-search" id="kss-search" placeholder="Search" type="text"></input>
            </header>
            <div class="kss-search-results" id="kss-search-results"></div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <main class="row">
        <article class="col-xs-12">
          {{#each sections}}
          {{#if @first}}{{else}}
          <div class="kss-anchor" id="kssref-{{referenceURI}}"></div>
          <section class="row section"
                   data-url="kssref-{{referenceURI}}"
                   data-title="{{header}}"
                   data-depth="{{depth}}"
                   data-reference="{{referenceNumber}}">
            <div class="col-xs-12">
              <h{{depth}}>{{header}}</h{{depth}}>
            </div>
            {{#if description}}
            <div class="col-xs-12">
              {{{description}}}
            </div>
            {{/if}}
            {{#if parameters}}
            <div class="col-xs-12">Parameters:</div>
            <ul>
              {{#each parameters}}
              <li>
                <div><code>{{name}}</code></div>
                <div>
                  {{{description}}}
                  {{#if defaultValue}}
                  <div class="col-xs-12">
                    Defaults to: <code>{{defaultValue}}</code>
                  </div>
                  {{/if}}
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}
            {{#if example}}
            {{#if modifiers}}
            <div class="col-xs-12">
              Default styling
            </div>
            {{/if}}
            <div class="col-xs-12">
              {{{example}}}
            </div>
            {{#each modifiers}}
            <div class="col-xs-12">
              {{name}}
            </div>
            <div class="col-xs-12">
              {{{description}}}
            </div>
            <div class="col-xs-12">
              {{{markup}}}
            </div>
            {{/each}}
            {{#if markup}}
            <details class="col-xs-12 kss-markup">
              <summary>
                {{#if markupFile }}
                Markup: <code>{{ markupFile }}</code>
                {{else}}
                Markup
                {{/if}}
              </summary>
              <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
            </details>
            {{/if}}
            {{/if}}
            {{#if source.filename}}
            <div class="col-xs-12">
              Source: <code>{{source.filename}}</code>, line {{source.line}}
            </div>
            <div class="col-xs-12">
              <div class="border"></div>
            </div>
            {{/if}}
          </section>
          {{/if}}
          {{/each}}
        </article>
      </main>
    </div>
    <script src="kss-assets/prettify.js"></script>
    <script src="kss-assets/kss-markup.js"></script>
    <script src="kss-assets/kss-search.js"></script>
    <script>
      prettyPrint();
      var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
      });
    </script>
    {{{scripts}}}
  </body>
</html>
