<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{! Handlebarsvariable options.title nicht in HTML nutzbar. Deshalb kss }}
    <title>{{options.title}}</title>
    <meta name="description" content="The living Styleguide for gdts.one">
    <meta name="viewport" content="width=device-width">
    {{! Lade Bootstrap und eigenes Styleguide Stylesheet }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="kss-assets/kss.css">
    {{! Hier werden die Production Stysheets geladen }}
    {{{styles}}}
  </head>
  <body>
    {{! -----   Headersection   ----- }}
    <nav class="navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <header class="header">
              <div class="nav">
                <div class="color-black-100">
                  <a href="/" data-drupal-link-system-path="&lt;front&gt;"><strong>Glen</br>Dimplex</br></strong>Styleguide</a>
                </div>
              </div>
              <div class="kss-sections-overview">
                {{! Variable "sections" wird von kss geliefert }}
                {{#each sections}}
                {{#if @first}}{{else}}
                {{! Hack um Subsections in den Headerlinks ausblenden zu können - siehe kss.css }}
                <a class="kss-sections-overview-link-{{depth}}" href="#kssref-{{referenceURI}}">{{header}}</a>
                {{/if}}
                {{/each}}
              </div>
              {{! Suchfeld }}
              <input class="kss-search" id="kss-search" placeholder="Search" type="text"></input>
            </header>
            {{! leeres searchResult div, wird von kss-search.js bei Benutzereingabe mit Suchergebnissen befüllt }}
            <div class="kss-search-results" id="kss-search-results"></div>
          </div>
        </div>
      </div>
    </nav>
    {{! -----   Hauptcontainer   ----- }}
    <div class="container">
      <main class="row">
        <article class="col-xs-12">
          {{! gehe in Schleife über alle Sections und generiere Sections HTML Elmente}}
          {{#each sections}}
          {{#if @first}}{{else}}
          {{! Sprungziel für Anchor Links }}
          <div class="kss-anchor" id="kssref-{{referenceURI}}"></div>
          {{! Erstellung der Data Attributes, die in kss-search.js ausgewertet werden }}
          <section class="row section"
                   data-url="kssref-{{referenceURI}}"
                   data-title="{{header}}"
                   data-depth="{{depth}}"
                   data-reference="{{referenceNumber}}">
            <div class="col-xs-12">
              <h{{depth}}>{{header}}</h{{depth}}>
            </div>
            {{! Falls Beschreibung in less-Kommentar vorhanden, füge diese hinzu }}
            {{#if description}}
            <div class="col-xs-12">
              {{{description}}}
            </div>
            {{/if}}
            {{! Falls Parameter in less-Kommentar vorhanden, füge diese hinzu }}
            {{#if parameters}}
            <div class="col-xs-12">Parameters:</div>
            <ul>
              {{#each parameters}}
              <li>
                <div><code>{{name}}</code></div>
                <div>
                  {{{description}}}
                  {{#if defaultValue}}
                  <div class="col-xs-12">
                    Defaults to: <code>{{defaultValue}}</code>
                  </div>
                  {{/if}}
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}
            {{! Falls Beispiel in less-Kommentar vorhanden, füge dieses hinzu }}
            {{#if example}}
            {{#if modifiers}}
            <div class="col-xs-12">
              Default styling
            </div>
            {{/if}}
            <div class="col-xs-12">
              {{{example}}}
            </div>
            {{! Falls Modifier in less-Kommentar vorhanden, füge diese hinzu }}
            {{#each modifiers}}
            <div class="col-xs-12">
              {{name}}
            </div>
            <div class="col-xs-12">
              {{{description}}}
            </div>
            <div class="col-xs-12">
              {{{markup}}}
            </div>
            {{/each}}
            {{! Falls Beispiel Markup in less-Kommentar vorhanden sind, füge diese hinzu }}
            {{#if markup}}
            <details class="col-xs-12 kss-markup">
              <summary>
                {{#if markupFile }}
                Markup: <code>{{ markupFile }}</code>
                {{else}}
                Markup
                {{/if}}
              </summary>
              {{! Wird von kss default Stylesheet mitgeliefert und sorgt z.B für Syntax Highlighting im Browser }}
              <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
            </details>
            {{/if}}
            {{/if}}
            {{! zeige Source Datei und Zeilennummer an }}
            {{#if source.filename}}
            <div class="col-xs-12">
              Source: <code>{{source.filename}}</code>, line {{source.line}}
            </div>
            <div class="col-xs-12">
              <div class="border"></div>
            </div>
            {{/if}}
          </section>
          {{/if}}
          {{/each}}
        </article>
      </main>
    </div>
    {{! um ein Blockieren der Seite durch lang laufende JS Funktionen beim Laden zu verhindern,
        erfolgt das Laden von JS Dateien erst an dieser Stelle }}
    {{! Von kss Default übernommen, ermöglicht Syntax Highlighting }}
    <script src="kss-assets/prettify.js"></script>
    {{! Von kss Default übernommen, ermöglicht das Ausklappen der Markup Sections }}
    <script src="kss-assets/kss-markup.js"></script>
    {{! Lade selbst erstellte Suchfunktion }}
    <script src="kss-assets/kss-search.js"></script>
    <script>
    {{! initialisiere Syntax Highlighting und Markup Funktionalität (kss Default) }}
      prettyPrint();
      var kssMarkup = new KssMarkup({
      bodyClass: 'kss-markup-mode',
      detailsClass: 'kss-markup'
      });
    </script>
    {{! Möglichkeit weitere Skripte als kss Argument einzubinden }}
    {{{scripts}}}
  </body>
</html>
